# Visual Studio solution and project files
*.sln
*.vcxproj
*.vcxproj.*
*.user
*.filters

# Visual Studio folders
.vs/
.vscode/

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Doxygen Output
docs/doxygen/*

# Generated binaries and object files
*.obj
*.o
*.exe
*.dll
*.lib
*.so
*.a
*.out
*.log
*.cbp
*.layout

# IDE-specific files
.idea/
.DS_Store
Thumbs.db
.cache/

# Remove solution
cpp-ml/
